body{
    background: -webkit-linear-gradient(bottom, #2dbd6e, #a6f77b);
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
}

.card{
    background: #fbfbfb;
    border-radius: 8px;
    box-shadow: 1px 2px 8px rgb(0 0 0 / 65%);
    height: 80%;
    width: 50%;
    position: relative;
    left: 24%;
    top: 10%;
}

.card-content{
    padding: 12px 44px;
}

.welcome{
  font-family: "Raleway Thin", sans-serif;
  letter-spacing: 4px;
  padding-bottom: 23px;
  padding-top: 13px;
  text-align: center;
  font-size: 40px;
}

.bio{
    text-align: center;
}

.input, button, select, optgroup, textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    width: 100%;
}